In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('/Users/Oller/Downloads/Datern.mplstyle')

import numpy as np
import pandas as pd

#Gradient colours
from matplotlib.colors import LinearSegmentedColormap
nodes = [0, 0.5,1.0]
color = ['#00ACF0','#ffffff','#A834FF']
cmap = LinearSegmentedColormap.from_list("", list(zip(nodes, color)))

%config InlineBackend.figure_format='retina'

In [9]:
df = pd.read_csv("/Users/Oller/Downloads/Kaggle_Datern_Training_Set.csv")

In [10]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15966 entries, 0 to 15965
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               15966 non-null  int64
 1   Name             15964 non-null  object
 2   Platform         15966 non-null  object
 3   Year_of_Release  15720 non-null  float64
 4   Genre            15964 non-null  object
 5   Publisher        15918 non-null  object
 6   EU_Sales         15966 non-null  float64
 7   Global_Sales     15966 non-null  float64
 8   Critic_Score     7771 non-null   float64
 9   Critic_Count     7771 non-null   float64
 10  User_Score       9545 non-null   object
 11  User_Count       7161 non-null   float64
 12  Developer        9608 non-null   object
 13  Rating           9496 non-null   object
dtypes: float64(6), int64(1), object(7)
memory usage: 1.7+ MB

In [13]:
#cleaning data



df = pd.read_csv("/Users/Oller/Downloads/Kaggle_Datern_Training_Set.csv")
df.reset_index(drop=True)
df_populated =df.dropna()
df_populated_indexed = df_populated.reset_index(drop=True)
new_df = df_populated_indexed

In [12]:
new_df.head()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6492 entries, 246 to 15842
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6492 non-null   int64
 1   Name             6492 non-null   object
 2   Platform         6492 non-null   object
 3   Year_of_Release  6492 non-null   float64
 4   Genre            6492 non-null   object
 5   Publisher        6492 non-null   object
 6   EU_Sales         6492 non-null   float64
 7   Global_Sales     6492 non-null   float64
 8   Critic_Score     6492 non-null   float64
 9   Critic_Count     6492 non-null   float64
 10  User_Score       6492 non-null   object
 11  User_Count       6492 non-null   float64
 12  Developer        6492 non-null   object
 13  Rating           6492 non-null   object
dtypes: float64(6), int64(1), object(7)
memory usage: 760.8+ KB

In [17]:
#encoding data for platform genre and rating
# Encoding Platform
from sklearn.preprocessing import LabelEncoder
labelencoder1 = LabelEncoder()
df_populated_indexed.iloc[:, 2] = labelencoder1.fit_transform(df_populated_indexed.iloc[:, 2])


#encoding genre
labelencoder1 = LabelEncoder()
df_populated_indexed.iloc[:, 4] = labelencoder1.fit_transform(df_populated_indexed.iloc[:, 4])

#encoding rating 
labelencoder1 = LabelEncoder()
df_populated_indexed.iloc[:, 13] = labelencoder1.fit_transform(df_populated_indexed.iloc[:, 13])

In [23]:

print(df_populated_indexed)
#features = df_populated_indexed[['ID','Platform','Genre', 'Publisher', 'EU_Sales', 'Critic_Score', 'User_Score']]
print(features)
#add all the variables we want to include: genre, platform, rating, eu sales, critic score, user_score

         ID                                  Name  Platform  Year_of_Release  \
0      8200                           NBA Live 16         9           2015.0
1      8251                       Toukiden Kiwami         9           2015.0
2      8369                 Bladestorm: Nightmare         9           2015.0
3      8423  Mobile Suit Gundam: Extreme VS Force        11           2015.0
4      8448          One Piece: Pirate Warriors 3        11           2015.0
...     ...                                   ...       ...              ...
6487   9216         Super Puzzle Fighter II Turbo         6           1996.0
6488   1568                Battle Arena Toshinden         6           1994.0
6489  14613                                  Doom         5           1992.0
6490  14624                               SimCity         5           1988.0
6491  14473                             Alter Ego         5           1985.0

      Genre                    Publisher  EU_Sales  Global_Sales  \
0        10              Electronic Arts      0.04          0.18
1         0                   Tecmo Koei      0.07          0.17
2         0                   Tecmo Koei      0.04          0.17
3         0           Namco Bandai Games      0.00          0.17
4         0           Namco Bandai Games      0.03          0.17
...     ...                          ...       ...           ...
6487      5           Virgin Interactive      0.05          0.14
6488      2  Sony Computer Entertainment      0.26          1.27
6489      8                  id Software      0.00          0.03
6490      9                        Maxis      0.02          0.03
6491      9                   Activision      0.03          0.03

      Critic_Score  Critic_Count User_Score  User_Count  \
0             59.0          27.0        6.1        70.0
1             74.0          35.0        7.6        74.0
2             58.0          33.0        6.5        21.0
3             57.0          25.0        7.3        15.0
4             76.0           4.0        6.3        17.0
...            ...           ...        ...         ...
6487          83.0           9.0        7.4         5.0
6488          69.0           4.0        6.3         4.0
6489          85.0          44.0        8.2      1796.0
6490          64.0          75.0        2.2      4572.0
6491          59.0           9.0        5.8        19.0

                        Developer  Rating
0                       EA Sports       1
1                Koei Tecmo Games       6
2                     Omega Force       6
3              Bandai Namco Games       2
4                     Omega Force       6
...                           ...     ...
6487                       Capcom       1
6488                      Tamsoft       6
6489                  id Software       4
6490                        Maxis       2
6491  Viva Media, Viva Media, LLC       6

[6492 rows x 14 columns]
         ID  Platform  Genre                    Publisher  EU_Sales  \
0      8200         9     10              Electronic Arts      0.04
1      8251         9      0                   Tecmo Koei      0.07
2      8369         9      0                   Tecmo Koei      0.04
3      8423        11      0           Namco Bandai Games      0.00
4      8448        11      0           Namco Bandai Games      0.03
...     ...       ...    ...                          ...       ...
6487   9216         6      5           Virgin Interactive      0.05
6488   1568         6      2  Sony Computer Entertainment      0.26
6489  14613         5      8                  id Software      0.00
6490  14624         5      9                        Maxis      0.02
6491  14473         5      9                   Activision      0.03

      Critic_Score User_Score
0             59.0        6.1
1             74.0        7.6
2             58.0        6.5
3             57.0        7.3
4             76.0        6.3
...            ...        ...
6487          83.0        7.4
6488          69.0        6.3
6489          85.0        8.2
6490          64.0        2.2
6491          59.0        5.8

[6492 rows x 7 columns]

In [1]:
#from scipy.stats import probplot

#numerical = ['EU_Sales', 'Critic_Score', 'User_Score']

#_, ax = plt.subplots(1, 3)

#for i,var in enumerate(numerical):
    #probplot(new_df[var], dist="norm", plot=ax[i])
    #ax[i].set_title(var.title())

In [34]:
#separating into response matrix (x) and vector of targets(y)
#X = df_populated_indexed.iloc[:, 6:12:2]
#print(X.head())

Y = df_populated_indexed.iloc[:,7]
#print(Y.tail())
df_populated_indexed.info()

X = df_populated_indexed.iloc[:, 0:12:2]
print(X)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6492 entries, 0 to 6491
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6492 non-null   int64
 1   Name             6492 non-null   object
 2   Platform         6492 non-null   int64
 3   Year_of_Release  6492 non-null   float64
 4   Genre            6492 non-null   int32
 5   Publisher        6492 non-null   object
 6   EU_Sales         6492 non-null   float64
 7   Global_Sales     6492 non-null   float64
 8   Critic_Score     6492 non-null   float64
 9   Critic_Count     6492 non-null   float64
 10  User_Score       6492 non-null   object
 11  User_Count       6492 non-null   float64
 12  Developer        6492 non-null   object
 13  Rating           6492 non-null   int32
dtypes: float64(6), int32(2), int64(2), object(4)
memory usage: 659.5+ KB
         ID  Platform  Genre  EU_Sales  Critic_Score User_Score
0      8200         9     10      0.04          59.0        6.1
1      8251         9      0      0.07          74.0        7.6
2      8369         9      0      0.04          58.0        6.5
3      8423        11      0      0.00          57.0        7.3
4      8448        11      0      0.03          76.0        6.3
...     ...       ...    ...       ...           ...        ...
6487   9216         6      5      0.05          83.0        7.4
6488   1568         6      2      0.26          69.0        6.3
6489  14613         5      8      0.00          85.0        8.2
6490  14624         5      9      0.02          64.0        2.2
6491  14473         5      9      0.03          59.0        5.8

[6492 rows x 6 columns]

In [35]:
from sklearn.linear_model import LinearRegression
# Create linear regression object
regr = LinearRegression()

# Train the model using the training sets
regr.fit(X, Y)

LinearRegression()

In [36]:
X_test = pd.read_csv("/Users/Oller/Downloads/Kaggle_Datern_Test_Set.csv")

In [87]:
#encode the test data
#print(X_test.head())
X_test_new = X_test.iloc[:, 0:10]
#X_test.drop(['Name'])
#print(X_test_new)
X_test_new = X_test_new.drop(['Name', 'Year_of_Release', 'Publisher', 'Critic_Count'], axis=1)
#print(X_test.head())
print(X_test_new)

        ID Platform         Genre  EU_Sales  Critic_Score User_Score
0    15707       DS          Misc      0.00           NaN        NaN
1    15757      PS2  Role-Playing      0.01          53.0        7.6
2    15798       DS          Misc      0.00           NaN        NaN
3    15819       XB       Shooter      0.00          45.0          2
4    15956       DS        Sports      0.00           NaN        NaN
..     ...      ...           ...       ...           ...        ...
748   8059      PS4      Fighting      0.12          59.0        7.8
749   8093      PSV        Action      0.02          71.0        7.4
750   8142     XOne       Shooter      0.07           NaN        NaN
751   8145      PS4        Action      0.00          67.0          8
752   8192      PS4     Adventure      0.05           NaN        7.1

[753 rows x 6 columns]

In [88]:
X_test_mod = X_test.iloc[:, 0:14:2]
print(X_test_new)
#cleaning the test data 
X_test_new = X_test_new.dropna()
X_test_new = X_test_new.reset_index(drop=True)

        ID Platform         Genre  EU_Sales  Critic_Score User_Score
0    15707       DS          Misc      0.00           NaN        NaN
1    15757      PS2  Role-Playing      0.01          53.0        7.6
2    15798       DS          Misc      0.00           NaN        NaN
3    15819       XB       Shooter      0.00          45.0          2
4    15956       DS        Sports      0.00           NaN        NaN
..     ...      ...           ...       ...           ...        ...
748   8059      PS4      Fighting      0.12          59.0        7.8
749   8093      PSV        Action      0.02          71.0        7.4
750   8142     XOne       Shooter      0.07           NaN        NaN
751   8145      PS4        Action      0.00          67.0          8
752   8192      PS4     Adventure      0.05           NaN        7.1

[753 rows x 6 columns]

In [89]:
#encode the test data
# columns platform genre and rating need encoding as they are categorical
labelencoder1 = LabelEncoder()
#encoding platform in test data
X_test_new.iloc[:, 1] = labelencoder1.fit_transform(X_test_new.iloc[:, 1])

#encoding genre
X_test_new.iloc[:, 2] = labelencoder1.fit_transform(X_test_new.iloc[:, 2])

#encoding rating
X_test_new.iloc[:, 5] = labelencoder1.fit_transform(X_test_new.iloc[:, 5])

print(X_test_new.head())

      ID  Platform  Genre  EU_Sales  Critic_Score  User_Score
0  15757         3      6      0.01          53.0          50
1  15819         8      7      0.00          45.0           1
2  15969         1      0      0.00          50.0          67
3  16160         8      0      0.00          26.0           4
4  16281         2     10      0.01          86.0          56

In [90]:
y_pred = regr.predict(X_test_new)
y_pred

array([ 0.98243858, -0.31148057,  1.36972595, -0.28129569,  1.16599075,
        1.37199316,  0.66581671,  0.70978843,  0.39005501, 16.00823753,
        8.17614826,  5.72559713,  7.37133047,  5.81138993,  6.35544298,
        2.31508328,  4.41120587,  3.66660931,  3.08393146,  3.33208305,
        1.95213646,  3.63525059,  1.21405173,  2.6360745 ,  2.95831783,
        2.25269865,  1.06357884,  2.76181938,  3.00226181,  2.92128066,
        1.79946422,  2.41798581,  1.24180588,  2.20036797,  2.35313055,
        2.05257353,  1.10846558,  1.96195494,  2.27826078,  2.1429471 ,
        2.1379086 ,  2.48795219,  3.00471885,  2.25303955,  1.35258889,
        2.08963298,  1.88946702,  1.68278836,  1.80594722,  1.94136508,
        1.88868128,  2.0725476 ,  1.49973333,  1.30199561,  2.43137785,
        1.26737719,  1.98354339,  1.84027285,  1.80973848,  1.9701353 ,
        1.8862377 ,  2.06433042,  2.35871798,  2.16888459,  1.52707197,
        1.76508915,  0.88348701,  1.68868274,  0.97211486,  0.97476005,
        2.06937084,  1.86029026,  1.06411757,  1.71180386,  1.41311587,
        1.7161203 ,  1.20476442,  1.47526236,  1.61608562,  1.91647885,
        1.05359999,  1.2719212 ,  1.48589407,  1.5531962 ,  0.37497322,
        1.91719337,  1.30285209,  1.46756691,  1.26427075,  1.23412651,
        1.66683261,  1.10867998,  1.51835679,  1.33849194,  1.51430422,
        1.30853339,  0.3859562 ,  1.2996992 ,  1.87489379,  1.28645599,
        0.76465305,  0.54248283,  1.56441333,  1.20470697,  1.53194408,
        1.13476038,  1.60335146,  1.47510034,  1.04955118,  0.86346822,
        1.52951952,  1.34310524,  0.44946932,  0.91484331,  1.03736555,
        0.25990246,  1.55352269,  1.44002961,  1.50516906,  1.04509865,
        1.53824503,  1.27865033,  1.79151792,  0.93988005,  0.59306691,
        0.96267755,  1.65530581,  1.43830886,  1.35643564,  0.8726186 ,
        0.93751892,  0.83593755,  1.22130473,  0.59759535,  0.52874538,
        1.19918458,  1.08215677,  1.12618858,  1.0378237 ,  0.73041275,
        1.33840991,  0.86661047,  1.01646049,  1.21032292,  1.34424233,
        1.33376054,  1.56107317,  1.26702411,  1.28887291,  0.38825578,
        0.85507901,  0.65686079,  1.21413657,  1.26987531,  0.9415615 ,
        0.88625185,  0.03768201,  1.35169659,  0.45442743,  1.03954971,
        0.03367736,  1.0912169 ,  0.43609501,  1.20096026,  0.41442409,
        1.00789158,  1.14895492,  0.09403453,  0.77532919,  1.26602931,
        1.25775459,  1.18096906,  0.71289453,  1.28153541,  1.41274603,
        0.92729037,  0.63550929,  0.9391902 ,  1.26425866,  1.21169177,
        0.77493643,  0.95593059,  0.0575847 ,  1.13770586,  0.38119612,
        0.85513054,  1.45861453,  0.72640089,  0.67364276,  1.39660564,
        1.14805707,  1.06565698,  1.20339974,  0.23651152,  1.27473647,
        0.67456887,  0.74918164,  0.98285349,  1.02779042,  0.65386806,
        1.44745128,  1.4370682 ,  0.74637884,  1.09202713,  0.92832031,
        0.2076735 ,  0.22587085,  0.06304349,  0.85607253, -0.20363834,
        1.21535483,  1.25288919,  0.08938838, -0.32449457,  0.54332819,
        0.12402361,  0.7567355 ,  0.62879511,  0.51741974,  0.68336504,
        0.62749775,  1.16202544,  1.04532505,  0.7643018 ,  1.08871746,
        0.89079931, -0.17308666,  0.92378102,  0.86299914,  0.63787754,
        0.85726649,  0.77011431, -0.32938725,  0.73652245,  0.91591802,
        1.06164814,  1.01941297,  0.37615542,  1.1258629 ,  1.21071493,
        0.71388802, 16.8018536 ,  9.84154209,  6.11695167,  4.53394811,
        4.83211653,  4.616063  ,  7.50120165,  5.93397003,  3.0000541 ,
        5.22151506,  6.50428138,  2.3275871 ,  6.26138545,  1.83499361,
        4.1141437 ,  3.96697843,  3.60152953,  3.86371958,  1.3054732 ,
        3.27056061,  1.51721442,  4.5209867 ,  3.26562672,  3.28713568,
        3.13917801,  3.87109243,  3.92000406,  3.23685539,  3.97032876,
        2.54475824,  2.42695678,  1.92220828,  3.39468934,  2.44763319,
        3.16340161,  2.90763486,  2.5199686 ,  2.26683273,  2.64081853,
        2.64857336,  2.65116483,  2.96366002,  1.76189321,  1.43787862,
        3.3336946 ,  2.27399505,  2.80466066,  3.01763319,  1.64639544,
        1.68311555,  2.27065633,  2.34272417,  2.33746817,  2.04485748,
        2.49026249,  2.39739873,  2.01369462,  2.01894151,  2.23183355,
        3.03530854,  2.22283008,  1.71817018,  1.26907979,  1.2682638 ,
        1.47117656,  1.84212783,  1.2543158 ,  2.01137332,  1.5284996 ,
        2.32707758,  1.97516642,  1.00920508,  1.80095204,  1.56571662,
        1.34096202,  1.0862988 ,  1.14872876,  1.86223616,  1.13360662,
        1.74630818,  2.08841188,  0.76110954,  1.54597623,  1.51504103,
        1.11580738,  1.28872943,  1.44313672,  2.01192388,  1.09792256,
        1.63655288,  1.01144762,  1.47859681,  1.66247581,  1.59685596,
        0.44584537,  1.06091983,  1.63423452,  0.64210145,  1.75093565,
        1.16396895,  1.15377329,  1.41428391,  1.20741021,  1.05977837,
        1.57598449,  0.84986745,  1.54159093,  1.36389108,  1.29236447,
        1.45797041,  1.42912608,  1.56914083,  1.40248802,  1.0296385 ,
        0.12130214,  1.33905203,  0.76900803,  1.45945004,  0.98560383,
        0.64579485,  1.56687248,  1.21051431,  1.3039465 ])

In [91]:
#create new results dataframe
results_df = pd.DataFrame(y_pred)

In [92]:
print(results_df.head())
print(results_df.info())

          0
0  0.982439
1 -0.311481
2  1.369726
3 -0.281296
4  1.165991
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 364 entries, 0 to 363
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       364 non-null    float64
dtypes: float64(1)
memory usage: 3.0 KB
None

In [54]:
#get new column with the ID of each game 
game_ID = X_test.dropna()
game_ID = game_ID['ID']
print(game_ID)

27       95
29      172
30      246
31      290
32      326
       ...
743    7812
745    7876
748    8059
749    8093
751    8145
Name: ID, Length: 333, dtype: int64

In [56]:
#add this column to the results 
results_df['ID'] = game_ID

In [60]:
print(results_df)

             0       ID
0    -0.099819      NaN
1    -0.092064      NaN
2     0.066011      NaN
3     6.746447      NaN
4    -0.118870      NaN
..         ...      ...
352   0.603566      NaN
353  20.507660  14342.0
354   1.095071      NaN
355   0.480422      NaN
356   1.821252      NaN

[357 rows x 2 columns]