In [5]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('/Users/Oller/Downloads/Datern.mplstyle')

import numpy as np
import pandas as pd

#Gradient colours
from matplotlib.colors import LinearSegmentedColormap
nodes = [0, 0.5,1.0]
color = ['#00ACF0','#ffffff','#A834FF']
cmap = LinearSegmentedColormap.from_list("", list(zip(nodes, color)))

%config InlineBackend.figure_format='retina'

In [9]:
df = pd.read_csv("/Users/Oller/Downloads/Kaggle_Datern_Training_Set.csv")

In [10]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15966 entries, 0 to 15965
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               15966 non-null  int64
 1   Name             15964 non-null  object
 2   Platform         15966 non-null  object
 3   Year_of_Release  15720 non-null  float64
 4   Genre            15964 non-null  object
 5   Publisher        15918 non-null  object
 6   EU_Sales         15966 non-null  float64
 7   Global_Sales     15966 non-null  float64
 8   Critic_Score     7771 non-null   float64
 9   Critic_Count     7771 non-null   float64
 10  User_Score       9545 non-null   object
 11  User_Count       7161 non-null   float64
 12  Developer        9608 non-null   object
 13  Rating           9496 non-null   object
dtypes: float64(6), int64(1), object(7)
memory usage: 1.7+ MB

In [13]:
#cleaning data



df = pd.read_csv("/Users/Oller/Downloads/Kaggle_Datern_Training_Set.csv")
df.reset_index(drop=True)
df_populated =df.dropna()
df_populated_indexed = df_populated.reset_index(drop=True)
new_df = df_populated_indexed

In [12]:
new_df.head()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6492 entries, 246 to 15842
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6492 non-null   int64
 1   Name             6492 non-null   object
 2   Platform         6492 non-null   object
 3   Year_of_Release  6492 non-null   float64
 4   Genre            6492 non-null   object
 5   Publisher        6492 non-null   object
 6   EU_Sales         6492 non-null   float64
 7   Global_Sales     6492 non-null   float64
 8   Critic_Score     6492 non-null   float64
 9   Critic_Count     6492 non-null   float64
 10  User_Score       6492 non-null   object
 11  User_Count       6492 non-null   float64
 12  Developer        6492 non-null   object
 13  Rating           6492 non-null   object
dtypes: float64(6), int64(1), object(7)
memory usage: 760.8+ KB

In [17]:
#encoding data for platform genre and rating
# Encoding Platform
from sklearn.preprocessing import LabelEncoder
labelencoder1 = LabelEncoder()
df_populated_indexed.iloc[:, 2] = labelencoder1.fit_transform(df_populated_indexed.iloc[:, 2])


#encoding genre
labelencoder1 = LabelEncoder()
df_populated_indexed.iloc[:, 4] = labelencoder1.fit_transform(df_populated_indexed.iloc[:, 4])

#encoding rating 
labelencoder1 = LabelEncoder()
df_populated_indexed.iloc[:, 13] = labelencoder1.fit_transform(df_populated_indexed.iloc[:, 13])

In [23]:

print(df_populated_indexed)
#features = df_populated_indexed[['ID','Platform','Genre', 'Publisher', 'EU_Sales', 'Critic_Score', 'User_Score']]
print(features)
#add all the variables we want to include: genre, platform, rating, eu sales, critic score, user_score

         ID                                  Name  Platform  Year_of_Release  \
0      8200                           NBA Live 16         9           2015.0
1      8251                       Toukiden Kiwami         9           2015.0
2      8369                 Bladestorm: Nightmare         9           2015.0
3      8423  Mobile Suit Gundam: Extreme VS Force        11           2015.0
4      8448          One Piece: Pirate Warriors 3        11           2015.0
...     ...                                   ...       ...              ...
6487   9216         Super Puzzle Fighter II Turbo         6           1996.0
6488   1568                Battle Arena Toshinden         6           1994.0
6489  14613                                  Doom         5           1992.0
6490  14624                               SimCity         5           1988.0
6491  14473                             Alter Ego         5           1985.0

      Genre                    Publisher  EU_Sales  Global_Sales  \
0        10              Electronic Arts      0.04          0.18
1         0                   Tecmo Koei      0.07          0.17
2         0                   Tecmo Koei      0.04          0.17
3         0           Namco Bandai Games      0.00          0.17
4         0           Namco Bandai Games      0.03          0.17
...     ...                          ...       ...           ...
6487      5           Virgin Interactive      0.05          0.14
6488      2  Sony Computer Entertainment      0.26          1.27
6489      8                  id Software      0.00          0.03
6490      9                        Maxis      0.02          0.03
6491      9                   Activision      0.03          0.03

      Critic_Score  Critic_Count User_Score  User_Count  \
0             59.0          27.0        6.1        70.0
1             74.0          35.0        7.6        74.0
2             58.0          33.0        6.5        21.0
3             57.0          25.0        7.3        15.0
4             76.0           4.0        6.3        17.0
...            ...           ...        ...         ...
6487          83.0           9.0        7.4         5.0
6488          69.0           4.0        6.3         4.0
6489          85.0          44.0        8.2      1796.0
6490          64.0          75.0        2.2      4572.0
6491          59.0           9.0        5.8        19.0

                        Developer  Rating
0                       EA Sports       1
1                Koei Tecmo Games       6
2                     Omega Force       6
3              Bandai Namco Games       2
4                     Omega Force       6
...                           ...     ...
6487                       Capcom       1
6488                      Tamsoft       6
6489                  id Software       4
6490                        Maxis       2
6491  Viva Media, Viva Media, LLC       6

[6492 rows x 14 columns]
         ID  Platform  Genre                    Publisher  EU_Sales  \
0      8200         9     10              Electronic Arts      0.04
1      8251         9      0                   Tecmo Koei      0.07
2      8369         9      0                   Tecmo Koei      0.04
3      8423        11      0           Namco Bandai Games      0.00
4      8448        11      0           Namco Bandai Games      0.03
...     ...       ...    ...                          ...       ...
6487   9216         6      5           Virgin Interactive      0.05
6488   1568         6      2  Sony Computer Entertainment      0.26
6489  14613         5      8                  id Software      0.00
6490  14624         5      9                        Maxis      0.02
6491  14473         5      9                   Activision      0.03

      Critic_Score User_Score
0             59.0        6.1
1             74.0        7.6
2             58.0        6.5
3             57.0        7.3
4             76.0        6.3
...            ...        ...
6487          83.0        7.4
6488          69.0        6.3
6489          85.0        8.2
6490          64.0        2.2
6491          59.0        5.8

[6492 rows x 7 columns]

In [1]:
#from scipy.stats import probplot

#numerical = ['EU_Sales', 'Critic_Score', 'User_Score']

#_, ax = plt.subplots(1, 3)

#for i,var in enumerate(numerical):
    #probplot(new_df[var], dist="norm", plot=ax[i])
    #ax[i].set_title(var.title())

In [34]:
#separating into response matrix (x) and vector of targets(y)
#X = df_populated_indexed.iloc[:, 6:12:2]
#print(X.head())

Y = df_populated_indexed.iloc[:,7]
#print(Y.tail())
df_populated_indexed.info()

X = df_populated_indexed.iloc[:, 0:12:2]
print(X)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6492 entries, 0 to 6491
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6492 non-null   int64
 1   Name             6492 non-null   object
 2   Platform         6492 non-null   int64
 3   Year_of_Release  6492 non-null   float64
 4   Genre            6492 non-null   int32
 5   Publisher        6492 non-null   object
 6   EU_Sales         6492 non-null   float64
 7   Global_Sales     6492 non-null   float64
 8   Critic_Score     6492 non-null   float64
 9   Critic_Count     6492 non-null   float64
 10  User_Score       6492 non-null   object
 11  User_Count       6492 non-null   float64
 12  Developer        6492 non-null   object
 13  Rating           6492 non-null   int32
dtypes: float64(6), int32(2), int64(2), object(4)
memory usage: 659.5+ KB
         ID  Platform  Genre  EU_Sales  Critic_Score User_Score
0      8200         9     10      0.04          59.0        6.1
1      8251         9      0      0.07          74.0        7.6
2      8369         9      0      0.04          58.0        6.5
3      8423        11      0      0.00          57.0        7.3
4      8448        11      0      0.03          76.0        6.3
...     ...       ...    ...       ...           ...        ...
6487   9216         6      5      0.05          83.0        7.4
6488   1568         6      2      0.26          69.0        6.3
6489  14613         5      8      0.00          85.0        8.2
6490  14624         5      9      0.02          64.0        2.2
6491  14473         5      9      0.03          59.0        5.8

[6492 rows x 6 columns]

In [35]:
from sklearn.linear_model import LinearRegression
# Create linear regression object
regr = LinearRegression()

# Train the model using the training sets
regr.fit(X, Y)

LinearRegression()

In [36]:
X_test = pd.read_csv("/Users/Oller/Downloads/Kaggle_Datern_Test_Set.csv")

In [ ]:
#encode the test data

In [45]:
X_test_mod = X_test.iloc[:, 0:14:2]
print(X_test_mod)
#cleaning the test data 
X_test_mod = X_test_mod.dropna()
X_test_mod = X_test_mod.reset_index(drop=True)

        ID Platform         Genre  EU_Sales  Critic_Count  User_Count Rating
0    15707       DS          Misc      0.00           NaN         NaN    NaN
1    15757      PS2  Role-Playing      0.01          17.0         5.0      T
2    15798       DS          Misc      0.00           NaN         NaN    NaN
3    15819       XB       Shooter      0.00          25.0         5.0      M
4    15956       DS        Sports      0.00           NaN         NaN    NaN
..     ...      ...           ...       ...           ...         ...    ...
748   8059      PS4      Fighting      0.12          30.0        45.0      T
749   8093      PSV        Action      0.02           4.0        34.0      M
750   8142     XOne       Shooter      0.07           NaN         NaN    NaN
751   8145      PS4        Action      0.00          25.0        96.0      M
752   8192      PS4     Adventure      0.05           NaN        18.0      T

[753 rows x 7 columns]

In [42]:
y_pred = regr.predict(X_test_mod)
y_pred

ValueError: could not convert string to float: 'DS'

In [41]:
#create new results dataframe
results_df = pd.DataFrame(y_pred)

NameError: name 'y_pred' is not defined

In [40]:
print(results_df.head())
print(results_df.info())

NameError: name 'results_df' is not defined

In [54]:
#get new column with the ID of each game 
game_ID = X_test.dropna()
game_ID = game_ID['ID']
print(game_ID)

27       95
29      172
30      246
31      290
32      326
       ...
743    7812
745    7876
748    8059
749    8093
751    8145
Name: ID, Length: 333, dtype: int64

In [56]:
#add this column to the results 
results_df['ID'] = game_ID

In [60]:
print(results_df)

             0       ID
0    -0.099819      NaN
1    -0.092064      NaN
2     0.066011      NaN
3     6.746447      NaN
4    -0.118870      NaN
..         ...      ...
352   0.603566      NaN
353  20.507660  14342.0
354   1.095071      NaN
355   0.480422      NaN
356   1.821252      NaN

[357 rows x 2 columns]